@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-roboto-flex);
}

h1, h2, h3, h4, h5, h6 {
  line-height: 120%;
  font-family: var(--font-mohave);
  text-transform: uppercase;
}

body {
  background-color: #060608;
  color: white;
}


::selection {
  background: #F55827;
  color: white;
}

body::-webkit-scrollbar {
  background-color: black;
  height: 4px;
  width: 4px;
}

body::-webkit-scrollbar-thumb {
  background-color: #F55827;
  border-radius: 2px;
}